<header>
  <!--     *********     HEADER 3      *********      -->

<div class="header-3">
  <%= render 'layouts/shared/navbar' %>
  <div id="carouselExampleIndicators" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="page-header header-filter">
          <div class="page-header-image" style="background-image: url('https://images.unsplash.com/photo-1497617895300-e7e2d0815fc8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f7b17a0cddd61ab27acafb9c259da1ac&auto=format&fit=crop&w=1350&q=80')"></div>
            <div class="content-center">
              <div class="container text-left">
                <div class="content-center">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="iframe-container">
                      <iframe width="1280" height="250" src="https://www.youtube.com/embed/MYMlhgULiJE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                      </div>
                    </div>
                    <div class="col-md-6 ml-auto mr-auto text-right">
                      <h1 class="title">Tháng 10 tháng ưu đại của Nikon</h1>
                      <h4 class="description ">Ưu đại mua hàng nikon giảm 80% khi mua phụ kiện</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="page-header header-filter">
          <div class="page-header-image" style="background-image: url('https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d1046925db0fb1f15417d71ad1676880&auto=format&fit=crop&w=1350&q=80')" ></div>
            <div class="content-center">
              <div class="container">
                <div class="content-center">
                  <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                      <h1 class="title">Tháng 9 tựu trường của Apple.</h1>
                      <h4 class="description ">Học sinh sinh viên có thẻ sinh viên mua sản phẩm apple được hổ trợ 9.000.000 VND.</h4>
                      <br />
                      <h5>cách hãng tài trợ:</h5>
                      <div class="buttons">
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-danger btn-round mt-2">
                          <i class="fa fa-twitter fa-2x"></i>
                        </a>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-danger btn-round mt-2">
                          <i class="fa fa-facebook-square fa-2x"></i>
                        </a>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-danger btn-round mt-2">
                          <i class="fa fa-google-plus fa-2x"></i>
                        </a>
                        <a href="#pablo" class="btn btn-icon btn-neutral btn-danger btn-round  mt-2">
                          <i class="fa fa-instagram fa-2x"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="page-header header-filter">
            <div class="page-header-image" style="background-image: url('https://images.unsplash.com/photo-1505733934914-e1d6219f1dcb?ixlib=rb-0.3.5&s=7c4b372ddf306b38079c2b647dfc535a&auto=format&fit=crop&w=1489&q=80');"></div>
            <div class="content-center">
              <div class="container">
                <div class="content-center">
                  <div class="row">
                    <div class="col-md-6 text-left">
                      <h1 class="title">Apple cho ra sản phẩm IPhone XS với nhiều tính năng mới</h1>
                        <h4 class="description ">Nhanh tay đặt hàng chiêc IPhone XS để rinh về nhiều phần qua thú vị từ cửa hàng.</h4>
                        <br />
                        <div class="buttons">
                          <a href="#pablo" class="btn btn-neutral btn-primary btn-lg mr-1">
                            <i class="now-ui-icons files_single-copy-04"></i> Đọc thêm thông tin
                          </a>
                          <a href="#pablo" class="btn btn-primary btn-lg">
                            <i class="now-ui-icons arrows-1_share-66"></i> Đặt hàng
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
       <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>

<!--     *********    END HEADER 3      *********      -->
</header>