<header class="header">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-holder d-flex align-items-center justify-content-between">
        <div class="navbar-header">
          <a id="toggle-btn" href="#" class="menu-btn">
            <i class="fa fa-align-justify"></i>
          </a>
          <a href="index.html" class="navbar-brand">
            <div class="brand-text d-none d-md-inline-block">
              <span>Bootstrap </span>
              <strong class="text-primary">Dashboard</strong>
            </div>
          </a>
        </div>
        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
            <!-- Languages dropdown    -->
            <li class="nav-item dropdown"><a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle"><img src="https://cdn.pixabay.com/photo/2013/10/15/09/12/flower-195893_150.jpg" alt="English"><span class="d-none d-sm-inline-block">English</span></a>
              <ul aria-labelledby="languages" class="dropdown-menu">
                <li><a rel="nofollow" href="#" class="dropdown-item"> <img src="https://cdn.pixabay.com/photo/2013/10/15/09/12/flower-195893_150.jpg" alt="English" class="mr-2"><span>German</span></a></li>
                <li><a rel="nofollow" href="#" class="dropdown-item"> <img src="https://cdn.pixabay.com/photo/2013/10/15/09/12/flower-195893_150.jpg" class="mr-2"><span>French</span></a></li>
                <% if logged_in? %>
                  <li> <%= link_to "Log out", logout_path, class:"dropdown-item", method: :delete %></li>
                    <li><%= link_to "Settings", edit_admin_user_path(current_user), class:"dropdown-item" %></li>
                <% end %>
                
              </ul>
            </li>
            <!-- Log out-->
            <li class="nav-item"><a href="/logout" class="nav-link logout"> <span class="d-none d-sm-inline-block">Logout</span><i class="fa fa-sign-out"></i></a></li>
          </ul>
      </div>
    </div>
  </nav>
</header>