 <!-- Side Navbar -->
    <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <!-- User Info-->
          <div class="sidenav-header-inner text-center"><img src="https://avatars1.githubusercontent.com/u/36064862?v=4" alt="person" class="img-fluid rounded-circle">
            <h2 class="h5">Võ Văn Long</h2><span>Web Developer</span>
          </div>
          <!-- Small Brand information, appears on minimized sidebar-->
          <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">V</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
          <h5 class="sidenav-heading">Main</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">  
            <li>
              <%= link_to admin_path do %>
                <i class="fa fa-home"></i>Trang điều khiển
              <% end %>
            </li>                
            <li>
              <%= link_to admin_users_path do %>
                <i class="fa fa-users"></i>Quản lý tài khoản
              <% end %>
            </li>
            <li>
              <%= link_to admin_categories_path do %>
                <i class="fa fa-cog" aria-hidden="true"></i>Quản lý danh mục
              <% end %>
            </li>
            <li>
              <%= link_to admin_products_path do %>
                <i class="fa fa-credit-card-alt" aria-hidden="true"></i>Quản lý sản phẩm
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  