<div class="row" ng-controller="detailController">
  <div class="col-md-5">
    <div id="productCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
      <ol class="carousel-indicators">
        <li ng-repeat="pic in picture" data-target="#productCarousel" data-slide-to="{{$index}}" class="{{active($index)}}"></li>
      </ol>
      <div class="carousel-inner" role="listbox" >
        <div ng-repeat="pic in picture" class="carousel-item {{active($index)}}">
          <img class="d-block img-raised" src="{{pic.image.url}}"" alt="First slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
        <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
          <i class="now-ui-icons arrows-1_minimal-left"></i>
        </button>
      </a>
      <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
        <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
          <i class="now-ui-icons arrows-1_minimal-right"></i>
        </button>
      </a>
    </div>

    <p class="blockquote blockquote-primary">
      {{detail.preview}}<br><br>
      <small>{{detail.user.name}}</small>
    </p>
  </div>
  <div class="col-md-6 ml-auto mr-auto">
    <h2 class="title"> {{detail.name}} </h2>
    <div class="row">
      <h5 class="col-md-6 category">{{detail.category.name}}</h5>
      <div class="col-md-6 copyright">{{detail.convert_date}}</div>
    </div>
    <h2 class="col-md-6 main-price">${{detail.price}}</h2>
    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
      <div class="card card-plain">
        <div class="card-header" role="tab" id="headingOne">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Mô tả
            <i class="now-ui-icons arrows-1_minimal-down"></i>
          </a>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-body">
            <p>{{detail.description}}</p>
          </div>
        </div>
      </div>
      <div class="card card-plain">
        <div class="card-header" role="tab" id="headingTwo">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Review
            <i class="now-ui-icons arrows-1_minimal-down"></i>
          </a>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-body">
            <p>An infusion of West Coast cool and New York attitude, Rebecca Minkoff is synonymous with It girl style. Minkoff burst on the fashion scene with her best-selling 'Morning After Bag' and later expanded her offering with the Rebecca Minkoff Collection - a range of luxe city staples with a "downtown romantic" theme.</p>
          </div>
        </div>
      </div>
      <div class="card card-plain">
        <div class="card-header" role="tab" id="headingThree">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Details and Care
            <i class="now-ui-icons arrows-1_minimal-down"></i>
          </a>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="card-body">
            <ul>
              <li>Storm and midnight-blue stretch cotton-blend</li>
              <li>Notch lapels, functioning buttoned cuffs, two front flap pockets, single vent, internal pocket</li>
              <li>Two button fastening</li>
              <li>84% cotton, 14% nylon, 2% elastane</li>
              <li>Dry clean</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row pick-size">
      <div class="col-lg-6 col-md-8 col-sm-6">
      <label>Select color</label>
      <select class="selectpicker" data-style="select-with-transition btn btn-block" data-size="7">
        <option value="1">Black</option>
        <option value="2">Gray</option>
        <option value="3">White</option>
      </select>
      </div>
        <div class="col-lg-6 col-md-8 col-sm-6">
        <label>Select size</label>
        <select class="selectpicker" data-style="select-with-transition btn btn-block" data-size="7">
          <option value="1">Small </option>
          <option value="2">Medium</option>
          <option value="3">Large</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-end">
      <button class="btn btn-primary mr-3">Add to Cart &nbsp;<i class="now-ui-icons shopping_cart-simple"></i></button>
    </div>
  </div>
</div>