<div class="row" ng-controller="detailController">
  <div class="col-md-5">
    <div id="productCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
      <ol class="carousel-indicators">
        <li ng-repeat="pic in picture" data-target="#productCarousel" data-slide-to="{{$index}}" class="{{active($index)}}"></li>
      </ol>
      <div class="carousel-inner" role="listbox" >
        <div ng-repeat="pic in picture" class="carousel-item {{active($index)}}  ng-if="pic.image">
          <img class="d-block img-raised" src="{{pic.image.url}}" alt="First slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
        <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
          <i class="now-ui-icons arrows-1_minimal-left"></i>
        </button>
      </a>
      <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
        <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
          <i class="now-ui-icons arrows-1_minimal-right"></i>
        </button>
      </a>
    </div>

    <p class="blockquote blockquote-primary">
      {{detail.preview}}<br><br>
      <small>{{detail.user.name}}</small>
    </p>
  </div>
  <div class="col-md-6 ml-auto mr-auto">
    <h2 class="title"> {{detail.name}} </h2>
    <div class="row">
      <h5 class="col-md-6 category">{{detail.category.name}}</h5>
      <div class="col-md-6 copyright">{{detail.convert_date}}</div>
    </div>
    <div class="row">
      <h4 class="col-md-6 nav-link nav-item"><span>Giá: </span>${{detail.price}}</h4>
      <h4 class="nav-item col-md-6">
        <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
          Trong kho <span>{{detail.quantity}}</span>
       </a>
      </h4>
    </div>
    <div class="row">
      <div class='col-md-6' ng-init='count=1'>
        <button class='btn btn-info' ng-click='count = count - 1;delete(count,detail.quantity)' > <i class='now-ui-icons ui-1_simple-delete'></i> </button>
        <button class='btn btn-info' ng-click='count = count + 1;add(count,detail.quantity)'> <i class='now-ui-icons ui-1_simple-add'></i> </button>
      </div>
      <h4 class="col-md-2 btn btn-info"><span id="quantityProduct">{{count}}</span></h4>
    </div>
    <div class="row">
      <div class="col-md-12 alert alert-success" role="alert">
       <h4 style='font-size:50px'>{{count * detail.price}} $</h4>
      </div>
    </div>
    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
      <div class="card card-plain">
        <div class="card-header" role="tab" id="headingOne">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Mô tả
            <i class="now-ui-icons arrows-1_minimal-down"></i>
          </a>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-body">
            <p>{{detail.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <% if current_user.nil? %>
        <button class="btn btn-primary mr-3" ng-click="redirecLogin()">Add to Cart &nbsp;<i class="now-ui-icons shopping_cart-simple"></i></button>
      <%else%>
      <button class="btn btn-primary mr-3" ng-click="addCart(count,count * detail.price,detail.id,<%=current_user.id%>)">Add to Cart &nbsp;<i class="now-ui-icons shopping_cart-simple"></i></button>
      <% end %>
    </div>
  </div>
</div>