<div class="section">
  <div class="container">
    <%= render 'detail_product' %>
    <div class="features-4">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Sản phẩm liên quan</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="card card-background card-raised" data-background-color style="background-image: url('assets/img/bg24.jpg')">
              <div class="info">
                <div class="icon icon-white">
                  <i class="now-ui-icons shopping_delivery-fast"></i>
                </div>
                <div class="description">
                  <h4 class="info-title">1 Day Delivery </h4>
                  <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                  <a href="#pablo" class="ml-3">Find more...</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-background card-raised" data-background-color style="background-image: url('assets/img/bg28.jpg')">
              <div class="info">
                <div class="icon icon-white">
                  <i class="now-ui-icons business_badge"></i>
                </div>
                <div class="description">
                  <h4 class="info-title">Refund Policy</h4>
                 <p>Share a floor plan, and we'll create a visualization of your room. A paragraph describing a feature will be enough. This is a popular item for you.</p>
                  <a href="#pablo">Find more...</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-background card-raised" data-background-color style="background-image: url('assets/img/bg25.jpg')">
              <div class="info">

              <div class="icon">
                <i class="now-ui-icons ui-2_favourite-28"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Popular Item</h4>
                <p>Share a floor plan, and we'll create a visualization of your room. A paragraph describing a feature will be enough. This is a popular item for you.</p>
                <a href="#pablo" class="ml-3">Find more...</a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>